<br>
<mat-toolbar style="color: gray;">
  <span>Your Cart</span>
</mat-toolbar>
<div class="product-grid">

    <mat-card-content>
      <div class="cart-grid">
        <mat-card class="cart-item" *ngFor="let item of cartItems">
          <mat-card-content>
            <div class="item-info">
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle>${{item.price}}</mat-card-subtitle>
            </div>
            <mat-form-field class="quantity-field">
              <mat-label>Quantity</mat-label>
              <input matInput type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateQuantity(item.id, item.quantity)" min="1">
            </mat-form-field>
            <button mat-icon-button (click)="removeFromCart(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-divider></mat-divider>
      <div class="total">
        <h3>Total: ${{totalPrice.toFixed(2)}}</h3>
        <button mat-raised-button color="primary" (click)="buy()" >Buy</button>
        <!-- a routerLink="/summary"  -->
      </div>
    </mat-card-content>
  <mat-card *ngIf="cartItems.length === 0">
    <mat-card-content>
      <p>Your cart is empty.</p>
    </mat-card-content>
  </mat-card>
</div>
